body {
  font-family: 'Segoe UI', Arial, sans-serif;
  text-align: center;
  background-color: #f9fcff;
  color: #222;
  padding-top: 80px;
}

h1 {
  color: #008080;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #444;
}
