body {
  font-family: "Poppins", sans-serif;
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1.4rem;
}

.btn {
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.pagination .page-link {
  color: #000;
  font-weight: 500;
}

.pagination .page-link:hover {
  background-color: #212529;
  color: #e1b36b;
}
